@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

:root {
  --background: #FFFDF4;
  --primary: #051DB5;
  --highlight: #f8d810;
  --light: #FFFDF4;
}

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-highlight: var(--highlight);
  --color-light: var(--light);

  --font-family-switzer: 'Switzer', sans-serif;
  --font-family-outfit: 'Outfit', sans-serif;
}

@layer utilities {
  .primary { color: var(--primary) !important; }
  .highlight { color: var(--highlight) !important; }
  .light { color: var(--light) !important; }

  /* Typography styles */
  .header-1-medium { 
    font-family: 'Outfit', sans-serif !important;
    font-size: 48px !important;
    line-height: 1.1 !important;
    font-weight: 500 !important;
  }

  .header-2-medium { 
    font-family: 'Outfit', sans-serif !important;
    font-size: 32px !important;
    line-height: 1.2 !important;
    font-weight: 500 !important;
  }

  .header-3-medium { 
    font-family: 'Outfit', sans-serif !important;
    font-size: 25px !important;
    line-height: 1.3 !important;
    font-weight: 500 !important;
  }

  .header-3-light { 
    font-family: 'Outfit', sans-serif !important;
    font-size: 25px !important;
    line-height: 1.3 !important;
    font-weight: 300 !important;
  }

  .body-regular { 
    font-family: 'Switzer', sans-serif !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    font-weight: 300 !important;
  }

  .body-bold { 
    font-family: 'Switzer', sans-serif !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    font-weight: 600 !important;
  }

  .body-small-light { 
    font-family: 'Switzer', sans-serif !important;
    font-size: 14px !important;
    line-height: 1.5 !important;
    font-weight: 400 !important;
  }

  .menu-strikethrough { 
    font-family: 'Outfit', sans-serif !important;
    font-size: 18px !important;
    line-height: 1.1 !important;
    font-weight: 500 !important;
  }

  .menu-medium { 
    font-family: 'Outfit', sans-serif !important;
    font-size: 18px !important;
    line-height: 1.1 !important;
    font-weight: 500 !important;
  }
}